@font-face {
  font-family: "alimamafangyuanti";
  src: url("./AlimamaFangYuanTiVF-Thin-2.ttf");
}

@font-face {
    font-family: 'maokenwangxingyuan';
    src: url("./MaoKenWangXingYuan-2.ttf");
}

@font-face {
  font-family: 'En-Hand-Title';
  src: url("./MaoKenWangXingYuan-2.ttf");
}

